.container{
    width: 100%;
}
.header{
    width: 100%;
    background-color: #f3ebd8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
}
.header h1{
    color: #292621;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 12px;
}
.link{
    color: #74706B;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    padding: 0 .5rem;
    border: none;
}
.hr {
    width: 1px; 
    height: 20px; 
    font-weight: 600;
    border: none;
    border-left: 1px solid #74706B; 
    transform: rotate(0deg); 
}
.links{
    display: flex;
}
.basket{
    margin: 3rem 0;
    padding: 0 5rem ;
}
.tableContainer {
    background-color: #fff;
}

.tableContainer table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.thead {
    font-weight: bold;
    text-align: left;
}

.thead th {
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #797979;
    padding: 15px;
}
.tr{
    margin: 30px;
    border-bottom: 1px solid #eeeeee;
    border-radius: 3px;
}
.tbody td {
    padding-top: 30px;
    padding-bottom: 30px;
}
.productName{
    border-radius: 3px;
    padding-left: 30px;
}

.count {
    display: flex; 
    align-items: stretch;
    gap: 0; 
    border-radius: 4px;
    width: 5rem;
}

.quantity {
    margin-top: 1rem;
    display: flex;
    align-items: center; 
}

.quantity input {
    width: 60px;
    text-align: center;
    outline: none;
    border: 1px solid #eeeeee;
    height: 50px;
    font-size: 16px;
    border-right: none;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.increment, .decrement {
    padding: 0 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer; 
    border: 1px solid #eeeeee;
    transition: background-color 0.3s ease;
    font-size: 18px;
    height:25px;
}
.increment{
    border-bottom: none;
}

.increment:hover, .decrement:hover {
    background-color: #f0f0f0;
}

.increment:active, .decrement:active {
    background-color: #ccc;
}

.subtotal{
    margin: 30px 0;
    border-bottom: 1px solid #eeeeee;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px 3rem ;
}
.subtotal span{
    margin-left: 10rem;
}
.delete{
    text-align: center;
    margin-left: 1.5rem;
    font-size: 24px;
    cursor: pointer;
    color: #292621;
    transition: all .3s linear;
}
.delete:hover{
    color: #FF2020;
}
.Buttons {
    display: flex;
    gap: 1rem; 
    position: relative; 
}

.goToMenu, .Checkout {
    background-color: #FF2020;
    position: relative; 
    padding: 12px 32px;
    border-radius: 35px;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #fff; 
    text-decoration: none; 
    overflow: hidden; 
    cursor: pointer; 
    border: none; 
}

.goToMenu::before, .Checkout::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: -100%;
    width: 100%;
    height: 100%; 
    background: #cf0f0f;
    transition: left 0.3s ease;
    z-index: 0; 
    animation: slideOut 0.5s forwards; 
}

.goToMenu:hover::before, .Checkout:hover::before {
    animation: slideIn 0.5s forwards; 
}

@keyframes slideIn {
    0% {
        left: -100%;
    }
    40% {
        left: 0;
    }
    60% {
        left: -15%;
    }
    100% {
        left: 0;
    }
}

@keyframes slideOut{
    0% {
        left: 0;
    }
    40% {
        left: -100%;
    }
    60% {
        left: -85%;
    }
    100% {
        left: -100%;
    }
}

.goToMenu span, .Checkout span {
    position: relative; 
    z-index: 1; 
}
.productImage{
    width: 4rem;
}
.productImage img{
    width: 4rem;
}