.BlogCard{
    height: 20rem;
}
.upheader{
    margin-top: 25px;
    color: #74706B;
    margin-bottom: 11px;
    display: block
}
h1{
    font-family: "Jost", sans-serif;
    color: #292621;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    transition: all .3s linear;
}
.description{
    font-family: "Jost", sans-serif;
    color: #74706B;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 1.6;
}
.blogLink{
    color: #292621;
    text-decoration: underline;
    font-weight: 600;
    transition: all .3s ease-in-out;
}
.blogLink:hover{
    letter-spacing: 1px;
}

.BlogCard:hover h1{
    color: red;

}