.container{
    width: 100%;
}
.header{
    width: 100%;
    background-color: #f3ebd8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
}
.header h1{
    color: #292621;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 12px;
}
.link{
    color: #74706B;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    padding: 0 .5rem;
    border: none;
}
.hr {
    width: 1px; 
    height: 20px; 
    font-weight: 600;
    border: none;
    border-left: 1px solid #74706B; 
    transform: rotate(0deg); 
}
.links{
    display: flex;
}
.products{
    width: 100%;
    padding: 0 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}
