.container{
    width: 100%;
}
.header{
    width: 100%;
    background-color: #f3ebd8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
}
.header h1{
    color: #292621;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 12px;
}
.link{
    color: #74706B;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    padding: 0 .5rem;
    border: none;
}
.hr {
    width: 1px; 
    height: 20px; 
    font-weight: 600;
    border: none;
    border-left: 1px solid #74706B; 
    transform: rotate(0deg); 
}
.links{
    display: flex;
}
.products{
    width: 100%;
    padding: 0 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.left{
    height: 60rem;
    max-width: 25rem;
    padding: 30px 19px 30px 16px;
    border: 1px solid #edeff2;
    margin-bottom: 50px;
}
.right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.category{
    width: 250px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
}
.dropdown{
    position: relative;
    cursor: pointer;
}
.selected{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #ededef;
    border-radius: 40px;
}
.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.list{
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none; 
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 110%;
    left: 0;
    width:220px;
    background-color: #fff;
    z-index: 1000;
    border: 1px solid #f4f4f4;
    transition: all .3s linear;
}
.list.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
}
.list li{
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    
}

.list li:hover,
.list li.active {
  background-color: #f1f1f1;
}